<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultCompletionName</key>
	<string>.gitignore</string>
	<key>Description</key>
	<string>Git ignore file</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>___FILENAME___</string>
	<key>Name</key>
	<string>Git ignore</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Summary</key>
	<string>Git ignore file</string>
</dict>
</plist>
